<head>
	<link href='https://fonts.googleapis.com/css?family=Exo+2:400,900italic,900,800italic,800,700italic,700,600italic,600,500italic,500,400italic,300italic,300,200italic,200,100italic,100' rel='stylesheet' type='text/css'>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/Future.css') }}">
	<link href='../static/styles/Future.css' rel='stylesheet' type='text/css'>
</head>


<body>
	<div class="futurepanel">
		<h1 class="futurepanel__title">Virtual Duel Disk</h1>


		<div class="separator"></div>

		<div class="futurepanel__header"></div>
		<table class="futureinput futureinput--text">
				<tr>
					<th ><button class="futurebutton" onclick="location.href='/draw_card'">Draw</button></th>
					<th ><div></div></th>
					<th ><button class="futurebutton" onclick="location.href='/attack'">Attack</button></th>
					<th ><div></div></th>
				</tr>
		</table>
		<div class="separator"></div>
		<div class="futurepanel__header"></div>
		<table class="futureinput futureinput--text">
				<tr>
					<th ><button class="futurebutton" onclick="location.href='/hand'">Hand</button></th>
					<th ><div></div></th>
					<th ><button class="futurebutton" onclick="location.href='/goto_battle'">Battle Menu</button></th>
					<th ><div></div></th>
					<th ><button class="futurebutton" onclick="location.href='/capture'">Capture</button></th>
				</tr>
		</table>

		<div class="separator"></div>

		<div class="futurepanel__footer">
			<div>Virtual Duel Disk |||  Kaiba Corp. 2020///////////// </div>
		</div>
	</div>
</div>
</body>
